# Dependencies
node_modules

# Turbo
.turbo

# Misc
.DS_Store
apps/.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/config.yml
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Terraform
**/*.tfstate
**/*.tfstate.backup
**/.terraform
**/*.dot
